{% extends 'base.html' %}


{% block title %}
Search Flight
{% endblock title %}


{% block content %}

<!-- Search Flights Form -->
<div class="container-fluid mt-5">
    <div class="row alert alert-success">
      <div class="col-md-6 offset-md-3">
        <div class="card text-light">
          <div class="card-body alert-success m-2">
            <h5 class="card-title mb-4 text-dark">Search Flights</h5>
            <form method="GET" action="{% url 'search_flights' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="departure_airport">Departure Airport</label>
                    {{ form.departure_airport }}
                </div>
                <div class="form-group">
                    <label for="destination_airport">Destination Airport</label>
                    {{ form.destination_airport }}
                </div>
                <div class="form-group">
                    <label for="departure_date">Departure Date</label>
                    {{ form.departure_date }}
                </div>
                <div class="form-group">
                    <label for="departure_time_range">Departure Time Range</label>
                    {{ form.departure_time_range }}
                </div>
                <button type="submit" class="btn btn-primary mr-2">Search Flights</button>
            </form>
          </div>
        </div>
        <br>

        <div class="card p-4 alert-success">
          <div class="card-header">
            <h5 class="card-title m-4 text-dark">All Available Flights</h5>
          </div>
          {% for flight in allflights %}
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Flight: {{ flight.departure_datetime }}</li>
            <li class="list-group-item">Departure : {{ flight.origin }}</li>
            <li class="list-group-item">Destination : {{ flight.destination }}</li>
            <li class="list-group-item">Available Seats: {{ flight.available_seats }}</li>
          </ul>
          <br>
          {% endfor %}

        </div>
      </div>
    </div>
</div>

  

{% endblock content %}
